<!--<div class="events-container">
  <h2>Liste des Événements</h2>
  
  <div class="event-grid">
    <div *ngFor="let event of events" class="event-card">
      <img [src]="event.imageUrl" [alt]="event.titre" class="event-image">
      
      <div class="event-content">
        <h3>{{ event.titre }}</h3>
        <p class="description">{{ event.description }}</p>
        
        <div class="event-details">
          <p><strong>Date:</strong> {{ event.date | date:'medium' }}</p>
          <p><strong>Lieu:</strong> {{ event.lieu }}</p>
          <p><strong>Prix:</strong> {{ event.prix === 0 ? 'Gratuit' : event.prix + ' TND' }}</p>
          <p><strong>Places disponibles:</strong> {{ event.nbPlaces }}</p>
          <p><strong>Likes:</strong> ❤️ {{ event.nbrLikes }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
-->